:root{
    --largeurPage: 900px;
    --largeurMenuCont : 200px;
    --margeCalc: calc((100% - var(--largeurPage)) / 2);
    --margeMenuHaut : 15px;
    --hauteurMenuGene:60px;
    --coulA1:#5A7694;
    --coulA2:#D7E5ED;
    --coulB1:#566459;
    --coulB2:#90974A;
    --coulC:#CDBCA0;
    --fondC:#fcfbfb;
    --padding_cote:5px;
}
#menuGeneral {
    text-align : center;
    width : calc(var(--largeurPage) + 220px + var(--padding_cote) + 2px);
    height : var(--hauteurMenuGene);
    background-color : rgba(45,45,45,0.9);
    color : #fff;
    margin:auto;
    box-shadow: 0px 0px 6px #999;
    border-radius: 8px;
    margin-bottom: 80px;
}
#menuGeneral{
    list-style-type: none;
    padding-left : 0px;
}

#menuGeneral>li{
    float : left;
    width: 19.90%;
    height : 100%;
    vertical-align: middle;
    line-height:60px;
}

#menuGeneral>li:hover{
    background-color : rgba(255,255,255,0.1);
}

#logo>a>img{
    position : relative;
    top : -10px;
}

#menuGeneral>li>a{
    height : var(--hauteurMenuGene);
    display : inline-block;
    vertical-align: middle;
    color:#eee;
    text-shadow: 1px 1px 2px #000;
    text-decoration: none;
    font-size : 16px;
    font-weight: bold;
}


#menuGeneral>li>a>img{
    vertical-align: middle;
}

#menuContextuel>li>a{
    color:var(--coulA1);
    font-weight : bold;
    text-decoration : none;
}

#menuContextuel>li {
    padding-top : 5px;
    padding-bottom : 5px;
    margin-top : 0px;
    margin-bottom : 0px;
    padding-left : 8px;
    /*background-color : rgba(238,144,9,0.3);*/
}

#menuContextuel>li:first-child {
    text-align : center;
}

#menuContextuel>li:hover {
    background-color : var(--coulA2);
}

#menuContextuel>li:first-child:hover {
    background-color : var(--fondC);
}

#menuContextuel:hover {
    left: calc((100% - var(--largeurPage)) / 2 - 100px);
    visibility:visible;
    box-shadow: 0px 0px 6px #999;
}

#bouton:hover ~ #menuContextuel {
    left: calc((100% - var(--largeurPage)) / 2 - 100px);
    box-shadow: 0px 0px 6px #999;
}

#bouton:hover ~ #corps {
    left: calc((100% - var(--largeurPage)) / 2 + 100px);
}

#menuGeneral:hover {
    /*top: 0px;*/
    /*background-color : rgb(226,218,241);*/

}


#menuContextuel:hover ~ #corps {
    left : calc((100% - var(--largeurPage)) / 2 + 100px);
}
