@font-face
{
  font-family: 'Montserrat';
  font-style: normal;
  src: url('../fonts/montserrat-v21-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/montserrat-v21-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/montserrat-v21-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/montserrat-v21-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/montserrat-v21-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/montserrat-v21-latin-regular.svg#Montserrat') format('svg'); /* Legacy iOS */
}


h1[class='titre'] {
  transform: translate(0, -50%);
  text-transform: uppercase;
  text-align: center;
  font-weight: 900;
  font-weight: bolder;
  color: #007a44;
  padding: 0.5em 0;
  margin: 0;
  position: relative;
  z-index: 1;
  background-color: #fff;
}

h3[class="titreBis"] {
  text-transform: uppercase;
  text-align: center;
  font-weight: 900;
  font-weight: bolder;
  color: #007a44;
  padding: 0.5em 0;
  margin: 0;
  position: relative;
  z-index: 1;
  background-color: #fff;
}

* {
  font-family: "Montserrat", sans-serif;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-size: 110%;
}

input[type=text] {
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

input[type="submit"] {
background: rgb(6, 90, 0);
color: #fff;
padding: 10px 24px;
border: 1px solid #eee;
border-radius: 5px;
box-shadow: 5px 5px 5px #eee;
text-shadow:none;
}

input[type="submit"]:hover {
background: #45b25d;
color: #fff;
border: 1px solid #eee;
border-radius: 5px;
box-shadow: 5px 5px 5px #eee;
text-shadow:none;
}
