<h1>Suivi hebdomadaire</h1>

<!-- formulaire du suivi hebdomadaire -->
<select name="ressenti">
  <option value="Bien" selected>Bien</option>
  <option value="Moyen">Moyen</option>
  <option value="Pas très bien">Pas très bien</option>
</select>

<br/><br/>

<h2>Si "Pas très bien" ou "Moyen" pourquoi ?</h2>
<br/>
<input type="text" name="commentaire" id="commentaire">

<br/><br/>

<h2>Quel est ton ressenti sur l'intensité de la séance ?</h2>
<select name="intensite">
  <option value="1" selected>1</option>
  <option value="2">2</option>
  <option value="3">3</option>
  <option value="4">4</option>
  <option value="5">5</option>
  <option value="6" >6</option>
  <option value="7">7</option>
  <option value="8">8</option>
  <option value="9">9</option>
  <option value="10">10</option>
</select><br />

<br/><br/>

<h2>Quels sont tes points de vigilance ? (Physique=blessure, mental, scolaire, ...)</h2>
<br/>
<input type="text" name="pointVigilance" id="pointVigilance">

<br/><br/>

<h2>Quel(s) objectif(s) vas tu prioriser cette semaine ?</h2>
<br/>
<div>
  <input type="checkbox" id="technique" name="technique">
  <label for="technique">Technique</label>
</div>

<div>
  <input type="checkbox" id="tactique" name="tactique">
  <label for="tactique">Tactique</label>
</div>

<div>
  <input type="checkbox" id="physique" name="physique">
  <label for="physique">Physique</label>
</div>

<div>
  <input type="checkbox" id="mental" name="mental">
  <label for="mental">Mental</label>
</div>

<div>
  <input type="checkbox" id="autre" name="autre">
  <label for="autre">Autre:<input type="text" name="autre" id="autre"></label>
</div>

<br/><br/>

<h2>Quels sont tes besoins ciblés particuliers ? (Plaquage, passe, ...)</h2>
<br/>
<input type="text" name="besoin" id="besoin">

<br/><br/>

//Demande entrainement supplémentaire

<h2>As tu prévu des créneaux de travail de travail en autonomie ?</h2>
<br/>
<div>
  <input type="checkbox" id="oui" name="oui">
  <label for="oui">Oui</label>
</div>

<div>
  <input type="checkbox" id="non" name="non">
  <label for="non">Non</label>
</div>

<br/><br/>

<h2>Si oui, quel jour, temps, contenus ?</h2>
<br/>
<input type="text" name="besoin" id="besoin">

<br/><br/>

<div class="ajoutMembre">
  <input type="submit" value="Valider">
</div>
